In [16]:
%matplotlib inline
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [17]:
# import sys
# in_colab = 'google.colab' in sys.modules

# if in_colab:
#   BASE_DIR = "https://github.com/DiploDatos/AnalisisYCuracion/raw/master/"
# else:
#   BASE_DIR = ".."

In [19]:
tabla_1 = pd.read_csv("input/wtageinf.csv")
tabla_1.head(10)

,Sex,Agemos,L,M,S,P3,P5,P10,P25,P50,P75,P90,P95,P97
0,1,0.0,1.815151,3.530203,0.152385,2.355451,2.526904,2.773802,3.150611,3.530203,3.879077,4.172493,4.340293,4.446488
1,1,0.5,1.547523,4.003106,0.146025,2.799549,2.964656,3.209510,3.597396,4.003106,4.387423,4.718161,4.910130,5.032625
2,1,1.5,1.068796,4.879525,0.136479,3.614688,3.774849,4.020561,4.428873,4.879525,5.327328,5.728153,5.967102,6.121929
3,1,2.5,0.695974,5.672889,0.129678,4.342341,4.503255,4.754479,5.183378,5.672889,6.175598,6.638979,6.921119,7.106250
4,1,3.5,0.419815,6.391392,0.124717,4.992898,5.157412,5.416803,5.866806,6.391392,6.942217,7.460702,7.781401,7.993878
5,1,4.5,0.219867,7.041836,0.121040,5.575169,5.744752,6.013716,6.484969,7.041836,7.635323,8.202193,8.556813,8.793444
6,1,5.5,0.077506,7.630425,0.118271,6.096775,6.272175,6.551379,7.043627,7.630425,8.262033,8.871384,9.255615,9.513307
7,1,6.5,-0.021908,8.162951,0.116154,6.564430,6.745993,7.035656,7.548346,8.162951,8.828786,9.475466,9.885436,10.161350
8,1,7.5,-0.089441,8.644832,0.114510,6.984123,7.171952,7.472021,8.004399,8.644832,9.341490,10.021014,10.453314,10.744924
9,1,8.5,-0.133409,9.081120,0.113217,7.361236,7.555287,7.865533,8.416719,9.081120,9.805593,10.514064,10.965736,11.270838

In [7]:
tabla_1.dtypes

NameError: name 'tabla_1' is not defined

In [8]:
tabla_1.columns

NameError: name 'tabla_1' is not defined

In [9]:
filtrado1= tabla_1[tabla_1.Sex==1]
filtrado1.plot(x='Agemos', y=['P3', 'P5', 'P10', 'P25', 'P50', 'P75',
       'P90', 'P95', 'P97']);
plt.ylabel('weight in kilograms')
plt.xlabel('age in months')
plt.title('Sex 1: Weight Gain Curve')

NameError: name 'tabla_1' is not defined

In [10]:
filtrado= tabla_1[tabla_1.Sex==2]
filtrado.plot(x='Agemos', y=['P3', 'P5', 'P10', 'P25', 'P50', 'P75',
       'P90', 'P95', 'P97']);
plt.ylabel('weight in kilograms')
plt.xlabel('age in months')
plt.title('Sex 2: Weight Gain Curve')

NameError: name 'tabla_1' is not defined

In [11]:
data_ = pd.read_json("../input/pasos.json")
data_.head()

ValueError: Expected object or value

In [12]:
data_["province"].value_counts()

NameError: name 'data_' is not defined

In [40]:
grafo = [[0,2],[1,3],[2,3],[2,4],[3,5],[4,5]]

# DESPERSONILIZAR DATOS

Hay muuuchas técnicas para despersonalizar datos.

Para ilustrar mostramos las ofrecidas por Google https://cloud.google.com/dlp/docs/transformations-reference:

* **Reemplazo**: Reemplaza cada valor de entrada con un valor determinado.
* **Ocultamiento**: Quita un valor y lo oculta.
* **Enmascaramiento con caracteres**: Enmascara una string por completo o parcialmente mediante el reemplazo de un número determinado de caracteres con un carácter fijo especificado..
* **Seudonimización mediante el reemplazo de un valor de entrada con un hash criptográfico**: Reemplaza valores de entrada con una string hexadecimal de 32 bytes mediante una clave de encriptación de datos.
* **Cambio de fechas**: Cambia las fechas por un número de días al azar, con la opción de ser coherente en el mismo contexto..
* **Seudonimización mediante el reemplazo con token de preservación de formato criptográfico**: Reemplaza un valor de entrada con un token, o valor sustituto, de la misma longitud mediante la encriptación de preservación de formato (FPE) con el modo de operación FFX. Esto permite que se use el resultado en sistemas con validación de formato o que necesitan aparecer como reales a pesar de que la información no se revela.
* **Valores de depósito con base en rangos de tamaño fijos**: Enmascara los valores de entrada y los reemplaza por depósitos, o rangos dentro de los cuales se encuentra el valor de entrada.
* **Valores de depósito con base en rangos de tamaño personalizados**: Valores de entrada de depósito con base en rangos configurables por el usuario y valores de reemplazo.
* **Extracción de datos de tiempo**: EExtrae o preserva una porción de los valores Date, Timestamp y TimeOfDay.